<!-- <p class="text-center text-muted">© Copyright 2018 ClouDev</p> -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>