<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="container">
    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class="ui middle aligned center aligned grid">
            <div class="column" style="max-width: 450px;margin-top: 15px;">
                <h1>
                    <i class="lock icon"></i> Login</h1>

                <% if (message.length > 0) { %>

                    <div class="ui error message">
                        <%= message %>
                    </div>
                    <% } %>

                        <!-- LOGIN FORM -->
                        <form action="/login" method="post" class="ui large form">
                            <div class="ui stacked segment">
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" name="email" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                </div>

                                <button type="submit" class="ui fluid large teal submit button">Login</button>
                            </div>
                        </form>

                        <div class="ui message">
                            Need an account?
                            <a href="/signup">Sign Up</a>
                            Or go
                            <a href="/">Home</a>
                        </div>

            </div>
        </div>
    </main>

    <% include ./partials/footer %>
</body>

</html>